.divNav {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #1B2631;
    align-items: center;
    height: 50px;
    width: 80%;
    border-radius: 10px;
}

.search {
    display: flex;
    gap: 20px;
}
.vistas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}
