.divDetail {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    background-color: #0000008c;
    border-radius: 20px;
    padding: 20px;
    color: white;
}
.divDetail img {
    border-radius: 150px;
}
.divInfo {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}
