.divCard {
    
    
    
    
    
    max-width: 200px;
    height: 170px;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 0 30px 0;
    width:min-content;
    /* height: 320px; */
    font-size: small;
    font-family: 'Rampart One', cursive;
    opacity: .8;
    transition: .5s ease;
    box-shadow: 40px 20px 20px 10px rgba(0, 0, 0, 0.696);
    
    text-align: center;
    background-color: #f1f1f1;
    
}
.column {
   display: table;
    float: left;
    width: 25%;
    padding: 0 10px;
    
}


  
.divCard:hover {
    cursor: crosshair;
    opacity: 1;
    height: auto;
    opacity: 1;
    filter: contrast(120%);
   
    
}
.divImage{
    position: relative;
    
}
.divImage img {
    width: 200px;
    border-radius: 10px
}
.botonFav {
    position:absolute;
    left: 0;
    bottom:0;
    border-radius: 0 10px 10px 0;
}
.botonX :hover{
    background-color: red;
}


.botonX{
    border-radius: 0 10px 0 10px;
    position: absolute;
    right:0px;
    
}