.divSearchBar {
  display: flex;  
  justify-content: center;
  align-items: center;
}

.divSearchBar button{
  background-color:  rgb(183, 10, 117);
  border-radius: 0 10px 10px 0;
  width: 80px;  
  height: 30px

}
.divSearchBar input{
  border-radius: 15px 0 0 15px;
  width: 150px;
  height: 30px;
  padding: 10px;
}